[submodule "ranger/.config/ranger/plugins/ranger_devicons"]
	path = ranger/.config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "spacemacs/.emacs.d"]
	path = spacemacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "doom-emacs/.emacs.d"]
	path = doom-emacs/.emacs.d
	url = https://github.com/hlissner/doom-emacs
[submodule "zsh/.oh-my-zsh/custom/plugins/zsh-wakatime"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh-wakatime
	url = https://github.com/wbingli/zsh-wakatime
[submodule "zsh/.oh-my-zsh/custom/plugins/fzf-tab"]
	path = zsh/.oh-my-zsh/custom/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
